<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationSample.FullScreen"
        tools:targetApi="31">
        <activity
            android:name=".SimpleNavigatorActivity"
            android:exported="true"
            android:label="Simple Navigator"
            android:theme="@style/Theme.NavigationSample">
        </activity>
        <activity
            android:name=".NestedNavigationActivity"
            android:exported="true"
            android:label="Nested Navigator"
            android:theme="@style/Theme.NavigationSample">
        </activity>
        <activity
            android:name=".ListeningToTheBackstackActivity"
            android:exported="true"
            android:label="Backstack Navigator"
            android:theme="@style/Theme.NavigationSample">
        </activity>
        <activity
            android:name=".CustomTransitionsActivity"
            android:exported="true"
            android:label="Custom Transitions Navigator"
            android:theme="@style/Theme.NavigationSample">
        </activity>
        <activity
            android:name=".CustomDecorationsActivity"
            android:exported="true"
            android:label="Custom Decorations Navigator"
            android:theme="@style/Theme.NavigationSample.FullScreen">
        </activity>
        <activity
            android:name=".TypesafeScreenResultsActivity"
            android:exported="true"
            android:label="Navigation Sample"
            android:theme="@style/Theme.NavigationSample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>